.search_bar{
    width: 75% !important;
}


.profileimage-display{
    width: 1rem;
    height: 1rem;
}

.mmm{
    background-color: whitesmoke;
}

.toprightimage-display{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.profileimage-display{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}