{% extends 'header.html' %}
{% load static %}

<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Samuel Adeyemo">
    <meta name="application-name" content="Sign in website">
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width initial-scale=1.0">


    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'assets/css/bootstrap/js/bootstrap.bundle.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/homepage.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/settings.css' %}">

    <title>Title</title>
</head>

<body>
<div class="container-fluid overflow-hidden allbody">
    <nav class="navbar nav navbar-expand-md navbar-light m-0 p-0 bg-primary" role="navigation">
        <div class="container-fluid bg-light">
            <a class="navbar-brand bg-white" href=""><h3>Just Social</h3></a>
            <button class="navbar-toggler btn" type="button" data-bs-target="#navbar_links" data-bs-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse row collapse d-md-flex justify-content-md-center" id="navbar_links">
                <ul class="navbar-nav col-md-8">
                    <li class="nav-item w-75 mx-auto">
                        <input class="search search_bar" type="search" placeholder="Search for creators, inspirations and projects">
                    </li>
                </ul>

                <ul class="navbar-nav col-md-4">
                    <li class="nav-item">
                        <a class="nav-link btn" href="">Post</a>
                    </li>
                    {% block nav %}
                    {% if user.is_authenticated%}
                    <li class="nav-item float-start">
                        <a class="nav-link btn" href=""><img class="img-fluid img-thumbnail topright-profileimage" src="{{user_profile.profileImg.url}}"></a>
                    </li>
                    {% else %}
                    <li class="nav-item float-start">
                        <a class="nav-link btn" href="">Sign in</a>
                    </li>
                   {% endif %}
                   {% endblock %}
                    <li class="nav-item float-start bg-primary">
                        <a class="nav-link btn" href="">Logout</a>
                    </li>


                </ul>

            </div>
        </div>

    </nav>

    <div class="main-container p-md-5">
        
        <div class="centered-div m-auto">
            <div class="form-container for-border">
                <h3>Welcome {{user.username}}</h3>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="profilePic" class="form-label">Profile Picture</label><br>
                    <img class="img-fluid d-block m-auto profileimage-display" src="{{user_profile.profileImg.url}}">
                    <input name="profileImg" value="profileImg" type="file" id="profilePic" class="form-cntrol mb-3"> <br>

                    <label for="first_name" class="form-label">First Name</label>
                    <input name="firstName" value = "{{user_profile.first_name}}" type="text" id="first_name" class="form-control">

                    <label for="middle_name" class="form-label">Middle Name</label>
                    <input name="middleName" value = "{{user_profile.middle_name}}" type="text" id="middle_name" class="form-control">

                    <label for="last_name" class="form-label">Last Name</label>
                    <input name="lastName" value = "{{user_profile.last_name}}" type="text" id="last_name" class="form-control">

                    <label for="username" class="form-label">Username</label>
                    <input name="username" value = "{{user_profile.user.username}}" type="text" id="username" class="form-control">

                    <label for="bio" class="form-label">About me</label>
                    <textarea name="bio" value = "{{user_profile.bio}}" type="text" id="bio" class="form-control"></textarea>

                    <label for="email" class="form-label">Email Address</label>
                    <input name="email"value = "{{user_profile.email}}"  type="email" id="email" class="form-control">

                    <label for="phoneNum" class="form-label">Telephone</label>
                    <input name="phoneNum" value = "{{user_profile.phoneNum}}" type="tel" id="phoneNum" class="form-control">

                    <button type="Cancel" class="btn btn-danger">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>

                    <div class="form-group text-center mt-2">
                        <p class="form-control-plaintext">Already Registered? <span><a class="signup-link" href="signin.html">Sign in</a></span></p>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
</body>
</html>
-->
{% block head %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'assets/css/bootstrap/js/bootstrap.bundle.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/homepage.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/settings.css' %}">

    <title>Title</title>

{% endblock %}

{% block content%}

<div class="main-container mmm p-md-5">
        
    <div class="centered-div m-auto">
        <div class="form-container for-border">
            <h3>Welcome {{user.username}}</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="profilePic" class="form-label">Profile Picture</label><br>
                <img class="img-fluid d-block m-auto profileimage-display" src="{{user_profile.profileImg.url}}">
                <input name="profileImg" value="profileImg" type="file" id="profilePic" class="form-cntrol mb-3"> <br>

                <label for="first_name" class="form-label">First Name</label>
                <input name="firstName" value = "{{user_profile.first_name}}" type="text" id="first_name" class="form-control">

                <label for="middle_name" class="form-label">Middle Name</label>
                <input name="middleName" value = "{{user_profile.middle_name}}" type="text" id="middle_name" class="form-control">

                <label for="last_name" class="form-label">Last Name</label>
                <input name="lastName" value = "{{user_profile.last_name}}" type="text" id="last_name" class="form-control">

                <!--
                <label for="username" class="form-label">Username</label>
                <input name="username" value = "{{user_profile.user.username}}" type="text" id="username" class="form-control">
                -->
                <label for="bio" class="form-label">About me</label>
                <textarea name="bio" value = "{{user_profile.bio}}" type="text" id="bio" class="form-control">{{user_profile.bio}}</textarea>
                <!--
                <label for="email" class="form-label">Email Address</label>
                <input name="email"value = "{{user_profile.email}}"  type="email" id="email" class="form-control">

                <label for="phoneNum" class="form-label">Telephone</label>
                <input name="phoneNum" value = "{{user_profile.phoneNum}}" type="tel" id="phoneNum" class="form-control">
                -->
                <div class="float-start mt-2">
                    <a href="/profile/{{user.username}}" type="button" class="btn btn-info">Back</a>
                </div>
                <div class="float-end mt-2">
                    <button type="reset" class="btn btn-danger">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock %}